/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2021, 9:57:27 PM
    Author     : Admin
*/
body{
 font-family: 'Poppins', sans-serif;
 background-color:#fafafa;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height:1.7em;
    color:#999;
}
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition:all 0.3s;
}

/*===SLIDE BAR*/
.wrapper
{
    display: flex;
    text-decoration: none;
    transition:all 0.3s;
}
#slidebar{
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    
    color:#fff;
    transition:all 0.3s;
}
#slidebar.active{
    margin-left: -250px;
    
}
#slidebar .slidebar-header{
    padding:20px;
    background: #6d7fcc;
}
#slidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#slidebar ul p{
    color:#fff;
    padding: 10px;
}
#slidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#slidebar ul li a:hover{
    color: #7385D5;
    background: #fff;
    
}
#slidebar ul li.active> a,
a[aria-expanded="true"]{
    color:#fff;
    background: #6d7fcc;
}
a[data-toggle="collapse"]{
    position: relative;   
}
a.dropdown-toggle::after{
    display:block;
    position: absolute;
    top:50%;
    right:20%;
    transform: translateY(-50%);
    
}
ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}